#!/bin/bash

alias v="nvim"
alias vim="nvim"
alias vimdiff="nvim -d"

# -------
# Aliases
# -------
alias hs='hugo server'
alias hsd='hugo server -D'
alias c='code .'
alias ns='npm start'
alias start='npm start'
alias nr='npm run'
alias run='npm run'
alias nis='npm i -S'
alias l="ls" # List files in current directory
alias ll="ls -al" # List all files in current directory in long list format
alias o="open ." # Open the current directory in Finder
alias ctags="`brew --prefix`/bin/ctags"
alias powershell="/usr/local/microsoft/powershell/6/pwsh"

# -------
#docker
# -------
alias ds="docker start a"
alias de="docker exec -it a bash"
alias dmls="docker-machine ls"
alias dms="docker-machine start pico"
alias dme="docker-machine env pico"
alias dockerips="docker ps -q | xargs -n 1 docker inspect --format '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{ .Name }}' | sed 's/ \// /'"

# -------
# tmux
# -------
alias tmux="TERM=screen-256color-bce tmux"
alias tn="tmux new-session -s"
alias ta="tmux attach -t"
alias tl="tmux list-sessions"
alias td="tmux detach"

# ----------------------
# Git Aliases
# ----------------------
alias ga='git add'
alias gaa='git add .'
alias gaaa='git add -A'
alias gc='git commit'
alias gcm='git commit -m'
alias gcam='git commit -am'
alias gd='git diff'
alias gi='git init'
alias gl='git log'
alias gp='git pull'
alias gpp='git push'
alias gss='git status -s'
alias gs='echo ""; echo "*********************************************"; echo -e "   DO NOT FORGET TO PULL BEFORE COMMITTING"; echo "*********************************************"; echo ""; git status'

alias gitsync="git branch -r | grep -v '\->' | while read remote; do git branch --track "${remote#origin/}" "$remote"; done && git pull --all"
alias gpom="git pull origin master"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete ; defaults write com.apple.desktopservices DSDontWriteNetworkStores true "

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# http://xkcd.com/530/
alias mute="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"
alias bravekill="ps ux | grep 'Brave Browser Helper (Renderer) --type=renderer' | grep -v extension-process| tr -s ' ' | cut -d ' ' -f2 | xargs kill"

function msfconsole {
    echo "Shared storage at ${HOME}/.msf"
    if [ -z "$1" ]
    then
        echo "forwarding 1337,4444 -> 1337,4444"
        docker run --rm -it -v "${HOME}/.msf:/home/msf/" -p 4444:4444 -p 1337:1337 metasploitframework/metasploit-framework ./msfconsole
    else
        echo "forwarding 1337,4444 -> 1337,4444"
        echo "forwarding $1 -> $1"
        echo 'docker run --rm -it -v "${HOME}/.msf:/home/msf/" -p 4444:4444 -p 1337:1337 -p $1:$1 metasploitframework/metasploit-framework ./msfconsole'
        docker run --rm -it -v "${HOME}/.msf:/home/msf/" -p 4444:4444 -p 1337:1337 -p $1:$1 metasploitframework/metasploit-framework ./msfconsole
    fi
}

alias msfvenom='echo remember to save to -o /data/something ; docker run --rm -it -v "${HOME}/.msf:/home/msf/" -v "${PWD}:/data" metasploitframework/metasploit-framework ./msfvenom'

alias htb='docker-compose -f /Users/adelakloul/Documents/htb/pwn/docker-compose.yml up -d'

alias wpscan='docker run -it --rm wpscanteam/wpscan'

alias sshpico='ssh nQUsPw3MuKATVGTR9lUU@2019shell1.picoctf.com -i ~/.ssh/id_ed25519_picoctf2019'

#alias rustscan='docker run -it --rm --name rustscan rustscan/rustscan:1.10.0'
alias rustscan='docker run -it --rm --name rustscan rustscan/rustscan:latest'
alias crackmapexec='docker run -it --rm --name crackmapexec byt3bl33d3r/crackmapexec:latest'

alias spicetify='/Users/adel.akloul/.spicetify/spicetify'

function weather {
    if [ -z "$1" ]
    then
        curl wttr.in
    else
        curl wttr.in/$1
    fi
}
